body {
  margin: 0;
  padding: 1em;
  box-sizing: border-box;
  font-family: Cambria, serif;
  background: #cccccc;
}

#title {
  text-align: center;
}

#form-container {
  border: 5px solid rgba(0, 0, 0, 0.7);
  display: block;
  margin: 1em auto;
  padding: 1em;
  max-width: 640px;
  background: #efefef;
}

#description {
  text-align: center;
}

// option:first {
 // color: black;
// }

// #name-span, #email-span, #age-span {
//   text-align: right;
// }

// #name, #email, #age {
//   float: right;
// }

.block-div label .left-p {
  display: inline-block;
  margin: 10px auto;
  width: 40%;
  text-align: right;
}

.block-div label .right-p {
  display: inline-block;
  margin: 5px auto;
  width: 55%;
  text-align: left;
}

#nine-yo, #pewd-sub-text {
  font-size: 0.75em;
  text-align: center;
  margin: 10px auto;
  margin-left: -2.5%;
}

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

fieldset {
  // text-align: center;
  margin-bottom: 1em;
  background: #eeeeee;
}

.required-field {
  color: red;
}

input[type=text], input[type=email] {
  padding: 5px;
}

input[type=number] {
  width: 4rem;
  padding: 5px;
}

select {
  // height: 30px;
  padding: 5px !important;
}

*:focus {
  outline: 0;
  border: 2px solid rgba($color: #000000, $alpha: 0.5);
  box-shadow: 0 0 2px 1px rgba($color: #000000, $alpha: 0.5);
}

input[type=checkbox], input[type=radio] {
  box-shadow: none;
  vertical-align: middle;
}

.traits label p {
  display: block;
  margin: auto 1em;
  line-height: 1.5;
}

.row {
  margin-top: 0.5em;
}

// .row .left {
//   display: inline-block;
//   text-align: right;
// }

// .row .right {
//   display: inline-block;
//   text-align: left;
// }


.r1l1-container {
  display: block;
  width: 100%;
  border: 1px solid rgba($color: #ffffff, $alpha: 0.1);
}


.l1 {
  display: inline-block;
  text-align: center;
  width: 49%;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0);
}

.r1 {
  display: inline-block;
  text-align: center;
  width: 49%;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0);
}

.r1l1-container label p {
  white-space: nowrap;
}

.platform label p {
  margin: 0.25em 0.5em !important;
}

.meme-image {
  box-sizing: border-box;
  max-width: 100%;
  border: 5px solid rgba(0, 0, 0, 0.7);
  padding: 5px;
  margin-bottom: 10px;
}

#meme-intro-img {
  max-width: 100%;
  height: auto;
}

.preferred-platform label p {
  line-height: 1.5;
  margin: 0;
}

.preferred-platform label p input[type=radio] {
  vertical-align: middle !important;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #dddddd;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  border: 5px solid rgba(0, 0, 0, 0.7);
}

/* The Close Button */
#close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#thanos-message {
  padding: 10px;
  margin: 0;
  margin-top: 10px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#thanos-img {
  margin: auto;
}

#thanos-modal {
  text-align: center;
}





@media (max-width: 500px) {

  .block-div label .left-p {
    display: block;
    margin: 10px auto;
    text-align: center;
    max-width: 100%;
  }
  
  .block-div label .right-p {
    display: block;
    margin: 5px auto;
    text-align: center;
    max-width: 100%;
  }

  #nine-yo, #pewd-sub-text {
    font-size: 0.75em;
    text-align: center;
    margin: 10px auto;
  }

}